.cabecera__container{
    display: flex; /*   convierte los elementos hijos de bloque en elementos de linea  */

    justify-content: space-between; /*  alinea los items de manera horizontal con espaciado igaul en todos los elementos    */

    align-items: center;    /*  Centralos elementos de manera vertical  en el contenedor padre*/

    position: fixed;    /*  Define en qué posición se va  a ubicar el elemento padre*/

    top: 0; /*  fija el elemento padre en el borde superior de la págna     */

}

.cabecera__buscar__item{
    display: none;  /*  Hace que la barra de búsqueda se oculte*/
}


/*  TRABAJAMOS EL ASIDE O MENÚ LATERAL PARA DISPOSITIVOS MÓVILES    */


.menu__container{
    position: fixed;    /*  Ubica el contenedor en una posición fija, por defecto al margen superior izquierdo */
    bottom: 0%; /*  Ubica el contenedor en el margen inferior*/
    height: 75px;   /*  definimos la altura del contenedor*/
    width: 100%;    /*  abarca el ancho total de la pantalla*/
}

/*   para organizar horizontalmente los elementos, acudimos al contenedor de listas 'UL'   */
.menu__lista{
    display: flex;  /*   convierte los elementos hijos de bloque en elementos de linea  */
    justify-content: space-around;  /*  Disptibuye uniformemente el espacio entre elementos*/
    height: 100%;


}

.menu__lista li{
    align-self: center;
}

.menu__itens{
    display: flex;   /*   convierte los elementos hijos de bloque en elementos de linea  */
    flex-direction: column; /*  Ubicamos los items en columnas  */
    gap: 5px;   /*  Damos espaciado vertical entre los dos items */
}


/*   con 'nth-child podemos manipular los elementos hermanos independientemente, en este caso ocultar los últimos tres elementos hermanos   */
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}




 
@media (min-width: 834px) { 
    
    

    .menu__container{
        position: fixed;    /*  Ubica el contenedor en una posición fija, por defecto al margen superior izquierdo */
        left: 0%; /*  Ubica el contenedor en el margen inferior*/
        height: 100%;   /*  definimos la altura del contenedor*/
        width: 74px;    /*  abarca el ancho total de la pantalla*/
    }
    
    /*   para organizar horizontalmente los elementos, acudimos al contenedor de listas 'UL'   */
    .menu__lista{
        display: flex;  /*   convierte los elementos hijos de bloque en elementos de linea  */
        flex-wrap: wrap;    /*  'wrap' ajusta las columnas al ancho del contenedor  */
        justify-content:first baseline;  /*  Disptibuye uniformemente el espacio entre elementos*/
        width: 100%;
    
    
    }
    
    .menu__lista li{
        align-self: center;
    }
    
    .menu__itens{
        display: flex;   /*   convierte los elementos hijos de bloque en elementos de linea  */
        flex-direction: column; /*  Ubicamos los items en columnas  */
        gap: 5px;   /*  Damos espaciado vertical entre los dos items */
    }
    
    
    /*   con 'nth-child podemos manipular los elementos hermanos independientemente, en este caso ocultar los últimos tres elementos hermanos   */
    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4){
        display: none;
    }
    
    


}



/*  MENU SUPERIOR   */

.superior__seccion__container{
    display: flex;  /*   convierte los elementos hijos de bloque en elementos de linea  */
    align-items: center;    /*  Centralos elementos de manera vertical  en el contenedor padre*/
    white-space: nowrap;    /* Evita que el texto se quiebre, quedará en una sola línea */
    overflow: scroll;   /*  Agrega una barra de desplazamiento en la barra */
    gap: 15px;  /*  Agrega espacio entre los items*/
}


/*  SECCION VIDEOS  */

.videos__item{
    height: 303PX;
    width: 280PX;
    flex-grow: 1;
}

.videos__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.descripcion-video{
    margin-top: 1rem;
    display: flex;
    align-items: start;

}

.descripcion-video img{
    margin-right: 1rem;
    flex-shrink: 0;

}

.detalles__video{
    flex-direction: column;
    text-align: left;
}

.detalles__video h3{
    margin-bottom: 10px;
}



/*  PIE DE PÁGINA   */

.rodapie__container{
    display: flex;  /*  ubica los elementos de bloque como elementos de linea*/

    flex-direction: column; /*  coloca los elementos en columna, uno debajo del otro*/

    flex-wrap: wrap;    /*  'wrap' ajusta las columnas al ancho del contenedor  */

    /* La propiedad 'flex-flow: column wrap;' realiza las dos últimas acciones anteriores en una sola línea */
}


/*  VISUALIZACION RESPONSIVA    */

/*  El diseño responsive debe realizarse desde la pantalla más pequeña hasta la pantalla más grande, a este orden se le conoce como 'FIRTS MOBILE'  */

@media (min-width: 834px) {
    .cabecera__buscar__item{
        display: block; /*  Este atributo hace que, mientras el tamaño horizontal de la pantalla sea menor a la condición siga oculta la barra de búsqueda, llegado al tamaño mínimo, es decir a partir de 834px, se visualizará la barra de búsqueda*/
    }

    .rodapie__container{
        justify-content: space-between;
    }
        
}



/*  AGREGAMOS TAMAÑO RESPONSIVE DE 1440PX PARA EL ASIDE */

@media (min-width: 1440px) {
    
    /* declaramos el ancho del container*/
    .menu__container{
        width: 239px;
        overflow: scroll;   /* crea una barra de desplazamiento para el aside*/
    }

    /*  cambiamos el menu__lisa de 'none' a 'flex' para que sea visible*/
    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4){
        display: flex;
    }

    /* le damos una altura automática para que puedan visualizarse*/
    .menu__lista{
        height: auto;
        padding: 20px 17px 20px 17px;   /* ajustamos el ancho de los contenedores para que la sombra no aparezca en todo el contenedor*/
        gap: 15px;
    }

    /* para cambiar el orden de los elementos del tercer contenedor del aside aplicamos 'flex-direction'*/
    .menu__lista:nth-child(3){
        flex-direction: column-reverse;
    }



    .menu__itens{
        flex-direction: row;    /* ubica los hijos del contenedor padre en filas*/
        gap: 15px;  /* Crea un espacio entre los iconos*/
        align-items: center;
    }

    
    .videojuegos{
        order: 3;
    }

    .peliculas{
        order: 2;
    }

    .premium{
        order: 1;
    }

}